h1 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  color: white;
}

.container-course-table {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: brown;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
}

.list-group-item {
  margin: 5px;
  width: 300px;
  position: relative;
  margin-left: 37%;

}
