.list-group-item {
  margin: 0px;
}

.btn {
  background-color: green;
  color: white;
  margin: 10px;
}

.list-group-item-success {
  background-color: green;
}

.fa-check {
  color: darkgreen;
}

.fa-times {
  color: brown;
}

.bg-danger-custom {
  background-color: #ff000040;
}

.bg-success-custom {
  background-color: #A7E3B2;
}
