.active a {
  color: white;
}

.active.nav-item,
.nav-item{
  border: 2px solid brown;
  margin: 30px;
  border-radius: 3px;
}

.active.nav-item {
  background-color: dodgerblue;
  border: 2px solid darkblue;
}

